@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

body {
  margin: 0px;
  padding: 25px;
  background-color: black;
}
#main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 50px);
  position: fixed;
  width: calc(100% - 50px);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
}

p {
  text-align: center;
}
#button {
  cursor: pointer;
  font-weight: 200;
  font-size: 0.7em;
  padding: 10px 15px;
  background-color: blue;
  border-radius: 7px;
}

#button:hover {
  transform: scale(0.95);
}

#main img {
  height: 20vh;
  filter: invert(100%);
  animation: rot 6s infinite linear;
}

@media only screen and (max-height: 250px) {
  img {
    display: none;
  }
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  position: fixed;
  width: calc(100% - 40px);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.3em;
  font-weight: 400;
  background-color: black;
}

#header img {
  filter: invert(100%);
  height: 35px;
  margin-right: 15px;
}

iframe {
  margin-top: 60px;
}

@media only screen and (max-width: 720px) {
  #header {
    justify-content: center;
  }
}
